# Default ignored files
/../../Dont starve /.idea/shelf/
/../../Dont starve /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Dont starve /.idea/httpRequests/
# Datasource local storage ignored files
/../../Dont starve /.idea/dataSources/
/../../Dont starve /.idea/dataSources.local.xml
